/*-----Global------*/
body{
  /* background:linear-gradient(20deg, #36151E, #A5C4D4); */
  /* background-color: #EDF2F4; #A5C4D4 #36151E*/
    background-color: #fff;
}
p{
  text-align: center;
}
/*-----body css------*/
.container{
  display: grid;
  grid-template-columns: 50% 50%;
  font-family: 'Roboto', sans-serif;
}
h1:nth-of-type(1){
  position: sticky;
  top: 49%;
  font-size: 6rem;
  color: #000;
  font-weight: 900;
  font-family: 'Archivo Narrow', sans-serif;
}
h1:nth-of-type(2){
  position: sticky;
  top: 58%;
  font-size: 6rem;
  color: #000;
  font-weight: 900;
  font-family: 'Archivo Narrow', sans-serif;
}
.right{
  margin-top: 199%;
}
.title{
  font-size: 2em;
  color: #000;
  margin-bottom: 30px;
}
/*-----card css------*/
.card-content{
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 900;
}
/*-----font color------*/
.more-work{
  color: #000;
  font-size: 2em;
}
.reach-out{
  color: #000;
  font-size: 2em;
}
.blurb{
  color: #000;
  font-size: 2em;

}

@media screen and (max-width: 480px) {
    .container{
      display: grid;
      grid-template-columns: 100%;
      font-family: 'Roboto', sans-serif;
    }
    .right{
      margin-top: 82%;
    }
    .left{
      height: 500px;}
    }
    h1:nth-of-type(1){
      position: sticky;
      top: 40%;
    }
    h1:nth-of-type(2){
      position: sticky;
      top: 53%;
    }
}




 /* need to do
 add transistion to images
